body{
    margin: 0;
}
li{
    list-style: none;
    padding: 8px;
    font-size:15px;
    display: inline-block;

}
a{   
text-decoration: none;
color: black;
}
ul{
    padding: 0;
    margin: 0;
}
nav{
    border-bottom: 20px solid black; /*PW 20px*/
    background-color: rgb(243, 210, 167); /* new color*/
    color: rgb(0, 0, 0); 
    width: 100%;
}

li:hover{
    background-color: rgb(241, 213, 177);
    font-weight: bold;
}

@media screen and (min-width:768px){
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
}