body {
    margin: 0;
}

li {
    list-style: none;
    padding: 8px;
    font-size: 15px;
    display: inline-block;

}

a {
    text-decoration: none;
    color: rgb(241, 241, 241);
}

ul {
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: 1px solid black;
    background-color: #6727cf;
    color: black;
    width: 100%;
}

li:hover {
    background-color: #5621aa;
    font-weight: bold;
}

h1 {
    font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
    margin: 150px;
    color: #5621aa;
}

@media screen and (min-width:768px) {
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
}